{% extends 'applistagecraft/base.html' %}

{% block title %}
Renouvellement du mot de passe
{% endblock %}

{% block main %}
    <h2 class="fs-4 fw-bold mt-5 ms-3">Mot de passe oublié ?</h2>
    <p class="ms-3 mt-2">
        Saisissez votre adresse mail. </br>
        Nous vous enverrons les instructions pour renouveler votre mot de passe.
    </p>
    <form class="ms-3 mt-3" method="post" id="form_password_reset">
        {% csrf_token %}
        <div class="mb-3">
            <div class="d-inline-flex align-items-center">
                <label for="id_email" class="form-Label col-sm-5">E-mail</label>
                <input type="email" name="email" class="form-control w-auto" maxlength="50" required id="id_email" placeholder="Votre email">
            </div>
        </div>
        <button  class="btn btn-success" type="submit">Renouveler mon mot de passe</button>
    </form>
{% endblock %}