{% extends 'applistagecraft/base.html' %}

{% block title %}
Renouvellement du mot de passe
{% endblock %}

{% block main %}
{% if validlink %}
    <h2 class="fs-4 fw-bold mt-5 ms-3">Mot de passe oublié ?</h2>
    <p class="ms-3 mt-2"> Veuillez saisir deux fois votre mot de passe.</p>

    <form class="ms-3 mt-3" method="post" id="form_password_reset">
        {% csrf_token %}
        <div class="mb-3">
            <div class="d-inline-flex align-items-center">
                <label for="id_new_password1" class="form-Label col-sm-5">Nouveau mot de passe</label>
                <input type="password" name="new_password1" class="form-control w-auto" maxlength="50" required id="id_new_password1" placeholder="Votre mot de passe">
            </div>
        </div>
        <div class="mb-3">
            <div class="d-inline-flex align-items-center">
                <label for="id_new_password2" class="form-Label col-sm-5">Confirmer le mot de passe</label>
                <input type="password" name="new_password2" class="form-control w-auto" maxlength="50" required id="id_new_password2" placeholder="Votre mot de passe">
            </div>
        </div>
        <button  class="btn btn-success" type="submit">Changer mon mot de passe</button>
    </form>
{% else %}
<h2 class="fs-4 fw-bold mt-5 ms-3">Echec de la réinitilisation.</h2>
<p class="ms-3 mt-2"> Le lien de réinitilisation est invalide.</p>
{% endif %}
{% endblock %}