{% extends 'applistagecraft/base.html' %}
{% block title %} Confirmation d'envoi d'instructions {% endblock %}

{% block main %}

<h2 class="fs-4 fw-bold mt-5 ms-3">Message de réinitilisation du mot de passe envoyé</h2>
<p class="ms-3 mt-2">
    Nous vous avons envoyé par email les instructions pour changer de mot de passe, <br>
    pour autant qu'un compte existe avec l'adresse que vous nous avez indiquée.<br>
    Vous devriez rapidement recevoir ce message.<br>
    Dans le cas contraire, contrôlez vos spams et vérifiez que l'adresse email mentionnée est<br>
    bien dans votre adresse de contact.
</p>

{% endblock %}