{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'applistagecraft/css/styles.css' %}">
        <link rel="icon" href="{% static 'applistagecraft/img/logo.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" />
    </head>
    <body class="Site">
        <header>
            {% if user.is_superuser %}
                {% include 'applicompte/menuAdmin.html' %}
            {% elif user.is_staff %}
                {% include 'applicompte/menuProf.html' %}
            {% elif user.is_authenticated %}
                {% include 'applicompte/menuEtudiant.html' %}
            {% else %}
                {% include 'applicompte/menuEntreprise.html' %}
            {% endif %}
        </header>
        <main class="Site-content d-flex topbar-margin">
            {% if user.is_superuser %}
            {% include 'applicompte/dashboard.html' %}
            {% endif %}
            <div class="flex-grow-1 p-3">
                {% block main %}{% endblock %}
            </div>           
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.js"></script>
    </body>
</html>