{% extends 'applistagecraft/base.html' %}

{% block title %}
Les Offres
{% endblock %}

{% block main %}
    <h2 class="text-center mt-5 fw-bold text-uppercase mb-5">Voici les {{offres|length}} offres que nous vous proposons</h2>
    <form enctype="multipart/form-data" action="/offres/search/" method="post" class="m-5">
        {% csrf_token %}
        <div class="mb-3">
            <input type="search" placeholder="Recherche dans le texte" id="search" name="search" />
        </div>
        <button type="submit" class="btn btn-danger mt-3">rechercher</button>
    </form>
    <div class="d-flex justify-content-center gap-2 mb-3">
        {% if user.is_staff %}
            <a href="/offres/" class="btn btn-dark">Toutes les offres</a>
            <a href="/offres/en-attente/" class="btn btn-outline-warning">En attente de validation</a>
        {% endif %}

        {% if user.is_superuser %}
            <a href="/offres/validees/" class="btn btn-outline-success">Validée</a>
            <a href="/offres/refusees/" class="btn btn-outline-danger">Refusée</a>
            <a href="/offres/cloturees/" class="btn btn-outline-secondary">Clôturée</a>
        {% endif %}
    </div>
    {% for offr in offres %}
    {% if not user.is_staff and offr.EtatOffre.NomEtatsOffres == "Validée" %}
    <div class="border rounded border-dark p-3 mx-auto mt-3" style="max-width: 900px;">
        <div class="row align-items-center mt-3">

            <a class="text-reset text-decoration-none col d-flex align-items-center"
               href="/offres/{{offr.IdOffre}}">

                <div class="col-auto d-flex align-items-center">
                    <img class="mt-2 me-3" src="{{MEDIA_URL}}{{offr.ImageOffre}}" 
                         width="100" alt="Image" title="{{offr.IntituleOffre}}">
                    <p class="mb-0 me-4">{{offr.OrganismeOffre}}</p>
                </div>

                <div class="col text-center">
                    <p class="mb-0">{{offr.IntituleOffre}}</p>
                </div>
            </a>
    {% elif user.is_staff %}
    <div class="border rounded border-dark p-3 mx-auto mt-3" style="max-width: 900px;">
        <div class="row align-items-center mt-3">

            <a class="text-reset text-decoration-none col d-flex align-items-center"
               href="/offres/{{offr.IdOffre}}">

                <div class="col-auto d-flex align-items-center">
                    <img class="mt-2 me-3" src="{{MEDIA_URL}}{{offr.ImageOffre}}" 
                         width="100" alt="Image" title="{{offr.IntituleOffre}}">
                    <p class="mb-0 me-4">{{offr.OrganismeOffre}}</p>
                </div>

                <div class="col text-center">
                    <p class="mb-0">{{offr.IntituleOffre}}</p>
                </div>
            </a>
            <form action="/offres/{{offr.IdOffre}}/modifierEtat" class="col-auto d-flex me-3 justify-content-end" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <select name="etat" required id="id_etat"  onchange="
                            const btn = this.form.querySelector('input[type=submit]');
                            const currentEtat = '{{ offr.EtatOffre.NomEtatsOffres }}';
                            let user_is_superuser = '{{ user.is_superuser }}';
                            console.log(user_is_superuser)
                            if (user_is_superuser === 'True') user_is_superuser = true
                            else user_is_superuser = false

                            if (currentEtat === 'Cloturée' && !user_is_superuser) {
                                btn.disabled = true;
                            } else {
                                btn.disabled = false;
                            }
                        ">
                        {% for e in etats %}
                            {% if offr.EtatOffre == e %}
                                <option selected disabled value="{{e.IdEtatsOffres}}">{{e.NomEtatsOffres}}</option>
                            {% elif e.NomEtatsOffres == "Cloturée" and not user.is_superuser %}
                                <option value="{{e.IdEtatsOffres}}" disabled>{{e.NomEtatsOffres}}</option>
                            {% else %}
                                <option value="{{e.IdEtatsOffres}}">{{e.NomEtatsOffres}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input class="btn btn-rounded btn-danger ms-3" type="submit" value="SAUVEGARDE" disabled />
                </div>
            </form>
        </div>        
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}

