.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}


/* ----------------------------------- search prt in offres ---------------------------------------- */
search input {
	position: absolute;
    right: 5%;
    top: 50;
	border-radius: 25px;
	width: 300px;
	height: 30px;
}

search input:focus {
	border-color: transparent;
}

.trouve {
	background-color: hotpink;
}

search input:valid {
	border: 2px solid green ;
}

search input:invalid {
	border: 2px solid red ;
}

/* --------------------------- Details of an offer ----------------------------------- */
/* Titres */
h1 {
    letter-spacing: 1px;
    font-size: 2.4rem;
}

/* Labels */
.fw-semibold {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 6px;
}

/* Cartes d'information */
.card {
    border-radius: 14px;
    border: 1px solid #ddd;
}

.card-body p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

/* Ombre légère façon "carte d'offre" */
.card.shadow-sm {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06) !important;
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
}

/* --------------------------- Dashboard ----------------------------------- */
.dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 15%;
    z-index: 1 !important;
}
 
.toggle-icon {
    transition: transform 0.3s ease;
}

.btn-toggle[aria-expanded="true"] .toggle-icon {
    transform: rotate(90deg);
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.sidebar-margin {
    margin-left: 15% !important;
}

.histogramme {
    position: relative; 
    height: 400px; 
    width: 80%; margin: 0 auto; 
    z-index:0 !important;
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
    .topbar-margin {
        margin-top: 5% !important;
    }
}

@media screen and (min-width: 1601px) {
    .topbar-margin {
        margin-top: 4% !important;
    }
}

/* --------------------------- Shared CSS ----------------------------------- */

.height-60 {
    min-height: 60vh;
}

.bloc-80 {
    width: 80px;
    height: 80px;
}

.bloc-50 {
    width: 50px;
    height: 50px;
}

.ws-pl {
    white-space: pre-line;
}

.bloc-100 {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.f-s {
    font-size: 0.75rem;
}

.height-50 {
    min-height: 50vh;
}

.m-w-1100 {
    max-width: 1100px;
}

.of-bgw {
    object-fit: contain;
    background: white;
}

.m-w-700 {
    max-width: 700px;
}

.btn-hover-black:hover {
    color: #000 !important;
}